{{#each this}}
  <div class='country__title'>
    <img src='{{flags.svg}}' width='36' height='24' alt='{{name.official}}' class='country__img' />
    <h2 class='country__title-name'>{{name.official}}</h2>
  </div>

  <div class='country__box'>
    <div class='country__content'>
      <p class='country__text'>
        <span class='accent'>Capital:</span>
        {{capital}}
      </p>
      <p class='country__text'>
        <span class='accent'>Population:</span>
        {{population}}
      </p>
      <div class='country__languages'>
        <p class='country__text'>
          <span class='accent'>Languages:</span>
          <ul class='country__languages-list'>
            {{#each languages}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </p>

      </div>

    </div>

  </div>
{{/each}}